<html style="font-family: sans-serif;">
    <body style="background-color: rgb(221, 221, 221);text-align: center;;margin-top: 10vh;">
        <form method="post" action="/chat/addmessage">
            <h2>Insert a UserID</h2> 
            <input name="user" type="text" />
            <h2>Insert a ChatID</h2>
            <input name="chatID" type="text" />
            <h2>Insert a Message</h2>
            <input name="message" type="text" />
            <p></h2><input type="submit" />
        </form>
</body>   
</html>